In [60]:
import numpy as np
import pandas as pd
import os

In [61]:
path = r"C:\Users\Noah\4.3.24_INSTACART BASKET ANALYSIS"

In [62]:
#importing data as pickle
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data' , 'Prepared Data', '4.7_orders_products_newvar.pkl'))

In [63]:
# 2. trying out groupby() function fore entire dataset
df_ords_prods_merge.groupby('product_name')

In [64]:
#splitting the data into groups
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.667853
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

4. compared to first million rows, the agg function across the entire dataset has variations
some departments have higher average, some lower

In [65]:
# performing multiple aggregations
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.215751   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170638   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.773669   1  99
15               16.165037   1  99
16               17.667853   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

In [66]:
#creating loyalty tag for customers
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(max)

C:\Users\Noah\AppData\Local\Temp\ipykernel_17064\1103875487.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(max)

In [67]:
df_ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Most Orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Average Orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Average Orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both,Mid-range product,Least busy,Most Orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Average Orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,7,26.0,7,0,both,Mid-range product,Busiest day,Average Orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,14,30.0,2,0,both,Mid-range product,Regularly busy,Most Orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,10,30.0,1,0,both,Mid-range product,Least busy,Most Orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,20,19.0,1,0,both,Mid-range product,Busiest day,Average Orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,12,15.0,2,1,both,Mid-range product,Busiest day,Average Orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,prior,1,5,11,NaN,1,0,both,Mid-range product,Regularly busy,Most Orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,3,13,7.0,1,0,both,Mid-range product,Least busy,Most Orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,4,13,7.0,3,1,both,Mid-range product,Least busy,Most Orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,2,12,12.0,4,1,both,Mid-range product,Regularly busy,Average Orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,3,10,2.0,8,0,both,Mid-range product,Least busy,Most Orders,13

In [68]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [69]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [70]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [71]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15874128
Loyal customer      10282763
New customer         6242841
Name: count, dtype: int64

# 5. determine if prices of products differ if customer is loyal or regular/new

In [72]:
df_ords_prods_merge.groupby('prices')

In [73]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                    prices
                      mean
loyalty_flag
Loyal customer    7.773575
New customer      7.801206
Regular customer  7.798262

5. On average, loyal customers have lower prices, regular are in the middle and new customers pay more.

# 6. targeting spenders

In [74]:
# creating a spending flag based on average price across all orders
df_ords_prods_merge.groupby('user_id').agg({'prices': ['mean', 'min', 'max']})

           prices
             mean  min   max
user_id
1        6.367797  1.0  14.0
2        7.515897  1.3  14.8
3        8.197727  1.3  14.4
4        8.205556  1.4  14.6
5        9.189189  3.2  14.8
...           ...  ...   ...
206205   8.909375  1.4  23.8
206206   7.646667  1.1  14.8
206207   7.313453  1.2  24.7
206208   8.366617  1.1  21.6
206209   7.058915  1.1  18.8

[206209 rows x 3 columns]

In [75]:
#creating column for average spending level
df_ords_prods_merge['spending_level'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [76]:
# testing new column
df_ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_the_week,...,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,spending_level
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,3.0,5,0,both,Mid-range product,Regularly busy,Most Orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,20.0,1,1,both,Mid-range product,Regularly busy,Average Orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,6.0,20,0,both,Mid-range product,Busiest day,Average Orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,NaN,10,0,both,Mid-range product,Least busy,Most Orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,9.0,11,1,both,Mid-range product,Least busy,Average Orders,3,New customer,4.972414
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,...,26.0,7,0,both,Mid-range product,Busiest day,Average Orders,26,Regular customer,6.935398
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,...,30.0,2,0,both,Mid-range product,Regularly busy,Most Orders,9,New customer,5.957576
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,...,30.0,1,0,both,Mid-range product,Least busy,Most Orders,12,Regular customer,6.680000
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,...,19.0,1,0,both,Mid-range product,Busiest day,Average Orders,20,Regular customer,7.162500
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,...,15.0,2,1,both,Mid-range product,Busiest day,Average Orders,20,Regular customer,7.162500
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,prior,1,5,...,NaN,1,0,both,Mid-range product,Regularly busy,Most Orders,10,New customer,5.813636
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,3,...,7.0,1,0,both,Mid-range product,Least busy,Most Orders,43,Loyal customer,5.081633
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,4,...,7.0,3,1,both,Mid-range product,Least busy,Most Orders,43,Loyal customer,5.081633
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,2,...,12.0,4,1,both,Mid-range product,Regularly busy,Average Orders,43,Loyal customer,5.081633
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,3,...,2.0,8,0,both,Mid-range product,Least busy,Most Orders,13,Regular customer,6.803797

In [77]:
# displaying totals for customers either high or low spender
df_ords_prods_merge.loc[df_ords_prods_merge['spending_level'] >= 10, 'loyalty_flag_spending'] = 'High_spender'

In [78]:
df_ords_prods_merge.loc[df_ords_prods_merge['spending_level'] < 10, 'loyalty_flag_spending'] = 'Low_spender'

In [79]:
df_ords_prods_merge['loyalty_flag_spending'].value_counts(dropna = False)

loyalty_flag_spending
Low_spender     32280013
High_spender      119719
Name: count, dtype: int64

6. Most customers are considered low spenders

# 7. frequency of customers

In [80]:
# finding regularity of customers based on median
df_ords_prods_merge['days_since_prior_order'].median

<bound method Series.median of 0            3.0
1           20.0
2            6.0
3            NaN
4            9.0
            ...
32399727     5.0
32399728     NaN
32399729    15.0
32399730     5.0
32399731     6.0
Name: days_since_prior_order, Length: 32399732, dtype: float64>

median is 3.0

In [81]:
df_ords_prods_merge.groupby('user_id').agg({'days_since_prior_order': ['mean']})

        days_since_prior_order
                          mean
user_id
1                    20.259259
2                    15.967033
3                    11.487179
4                    15.357143
5                    14.500000
...                        ...
206205               20.666667
206206                4.042705
206207               14.879397
206208                7.442105
206209               20.275862

[206209 rows x 1 columns]

In [82]:
#creating new column for median days since prior order
df_ords_prods_merge['median_days_since_prior'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [1]:
df_ords_prods_merge.head(100
                    )

NameError: name 'df_ords_prods_merge' is not defined

In [84]:
# creating categories for customers based on median days since prior order
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_prior'] > 20, 'loyalty_flag_freq'] = 'Non-frequent_customer'

In [85]:
df_ords_prods_merge.loc[(df_ords_prods_merge['median_days_since_prior'] > 10) & (df_ords_prods_merge['median_days_since_prior'] <= 20), 'loyalty_flag_freq'] = 'Regular_customer'

In [86]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_prior'] < 10, 'loyalty_flag_freq'] = 'Frequent_customer'

In [87]:
# display results
df_ords_prods_merge['loyalty_flag_freq'].value_counts(dropna = False)

loyalty_flag_freq
Frequent_customer        20285184
Regular_customer          7207340
Non-frequent_customer     3635743
nan                       1271465
Name: count, dtype: int64

7. most customers are frequent customers, folowed by a smaller qty of regular and non-frequent customers

In [89]:
# exporting to pickle
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.8_ords_prods_merge.pkl'))